<%- include('./includes/header.ejs') %>
<% console.log(locals); %> 
  <nav>
    <% if(locals.me){ %>
      <ul class="list-group list-group-flush" id="profile">
        <li class="list-group-item">Nom : <%= locals.me.nom %>
        </li>
        <li class="list-group-item">Prénom : <%= locals.me.prenom %>
        </li>
        <li class="list-group-item">E-mail : <%= locals.me.email %>
        </li>
      </ul>
      <% } %>
  </nav>
  
  <div class="MOPR">
    <div class="cadre">
      <div class="RetourP">
         <a href="/profil"><i class="fas fa-user-alt profilicone" style="font-size: 50px; margin-right: 10%; margin-top: 2% ;color:red"></i>Profil</a>
      </div>
      <br>
      <div class="profilretour">
        
        <h2 class="Modifierlescoord">Modifier vos coordonnées </h2>
        <hr>
      </div>
    <form action="/profil/update" method="post" id="PR">
      <!-- <a href="/profil"><i class="fas fa-user-alt" style="font-size: 50px; margin-left: 2%; margin-top: 2% ;color:#6610f2"></i></a>
      <h2>Modifier vos coordonnées <h2>
        <hr>
        <br> -->
      <div class="input-group mb-3">
        <input type="text" name="nom" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="Mettre votre nom" autofocus>
      </div>
      <br>
      <div class="input-group mb-3">
        <input type="text" name="prenom" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="Mettre votre prenom" autofocus>
      </div>
      <div>
        <br>
        <input class="btn btn-primary" type="submit" value="Save changes">
      </div>
      <br>
    </form>
  </div>
</div>